/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    /* Фоновые элементы */
    --bg-img: url('../images/cover-image-light.png');
    --bg-color: #FFF1F7;

    /* Акцентные цвета */
    --highlight-color: #FF8DCB;
    --highlight-dark-color: #353430;

    /* Цвета для кнопок */
    --header-menu-button-color: var(--highlight-dark-color);
    --header-menu-button-color-hover: rgba(50, 49, 45, 0.4);

    /* Цвета для декоративных элементов */
    --decoration-color: var(--highlight-dark-color);

    /* Заголовки */
    --title-text-color: #FFC2E6;

    /* Текст статей */
    --article-title-color: var(--highlight-dark-color);
    --article-item-text-color: var(--highlight-dark-color);
}

@media (prefers-color-scheme: light) {
    :root {
        /* Дублируем переменные светлой темы */
        /* Фоновые элементы */
        --bg-img: url('../images/cover-image-light.png');
        --bg-color: #FFF1F7;

        /* Акцентные цвета */
        --highlight-color: #FF8DCB;
        --highlight-dark-color: #353430;

        /* Цвета для кнопок */
        --header-menu-button-color: var(--highlight-dark-color);
        --header-menu-button-color-hover: rgba(50, 49, 45, 0.4);

        /* Цвета для декоративных элементов */
        --decoration-color: var(--highlight-dark-color);

        /* Заголовки */
        --title-text-color: #FFC2E6;

        /* Текст статей */
        --article-title-color: var(--highlight-dark-color);
        --article-item-text-color: var(--highlight-dark-color);
    }

    .theme-light .rec-symbol,
    .theme-auto .rec-symbol {
        display: none;
    }
}

.theme-light .page {
    /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .rec-symbol {
    display: none;
}
