/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    /* Отступы */
    --gap-s: 10px;
    --gap-l: 20px;

    /* Шрифты */
    --default-font-size: 18px;
    --font-family: 'IBM Plex mono', sans-serif;
    --default-line-height: 1.3;

    /* Фоновые элементы */
    --bg-img: url('../images/cover-image-dark.png');
    --bg-color: #000028;

    /* Акцентные цвета */
    --highlight-color: #FF0070;
    --highlight-dark-color: #000028;

    /* Цвета для кнопок */
    --header-menu-button-color: var(--highlight-color);
    --header-menu-button-color-hover: rgba(255, 0, 112, 0.4);

    /* Цвета для декоративных элементов */
    --decoration-color: var(--highlight-color);

    /* Заголовки */
    --title-text-color: #DB00FF;
    --title-font-size: 116px;

    /* Текст статей */
    --article-title-color: var(--highlight-color);
    --article-item-text-color: #F1B2CE;
}
